body {
    max-width: 1600px;
    margin: 0 auto;
}

.banner {
    margin: 50px 140px 120px;
}

/* banner section style */
.banner-img {
    border-radius: 16px;
    position: relative;
    width: 1320px;
    height: 600px;
}

.banner p {
    margin-top: 177px;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.banner h1 {
    font-size: 72px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.banner-text {
    position: absolute;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

/* All Categories Section Style */
.categories-sec {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.categories-sec h1 {
    color: #f00;
    font-weight: 700;
    font-size: 88px;
    margin: 48px 0 0;
}

#holiday {
    font-size: 24px;
    font-weight: 500;
    color: #f00;
}

#title {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin: 0 0 48px;
}

/* Midnight Party Section Style */
.midnight-party {
    margin: 120px 140px;
    position: relative;
    width: 1320px;
    height: 600px;
}

.midnight-party-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    top: 0;
    color: #fff;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.midnight-party-text h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 900;
}

#discription {
    font-size: 18px;
    font-weight: 400;
}

#button {
    font-size: 20px;
    font-weight: 700;
}