body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.banner {
    margin: 50px 140px 120px;
}

/* banner section style */
.banner-img {
    border-radius: 16px;
    position: relative;
    width: 1320px;
    height: 600px;
}

.banner p {
    margin-top: 177px;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.banner h1 {
    font-size: 72px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.banner-text {
    position: absolute;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

/* All Categories Section Style */
.categories-sec {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.categories-sec h1 {
    color: #f00;
    font-weight: 700;
    font-size: 88px;
    margin: 48px 0 0;
}

#holiday {
    font-size: 24px;
    font-weight: 500;
    color: #f00;
}

#title {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin: 0 0 48px;
}

/* Midnight Party Section Style */
.midnight-party {
    margin: 120px 140px;
    position: relative;
    width: 1320px;
    height: 600px;
}

.midnight-party-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    top: 0;
    color: #fff;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.midnight-party-text h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 900;
}

#description {
    font-size: 18px;
    font-weight: 400;
}

#button {
    font-size: 20px;
    font-weight: 700;
}

/* Address Section  */
.address-section {
    margin: 50px 140px 120px;
    border-radius: 16px;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.address-section p {
    span {
        color: #F00;
    }

    font-size: 32px;
    font-weight: 600;
    padding-top:100px;
    text-align: center;
}

.address-section button {
    span {
        color: #FFF;
        font-size: 20px;
    }

    border: 0;
    padding: 16px 32px;
    margin-left: 576px;
    border-radius: 8px;
    background: #F00;
}

/* Best offer Section Style */
.best-offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-offer-left-text h2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.best-offer-left-text h3 {
    color: #070211;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.best-offer-left-text p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    margin: 20px 0 0;
}

.best-offer-mid-img {
    padding: 50px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-right: 118px;
    margin-left: 70px;
}

.best-offer-right-text h1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.best-offer-right-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

/* Holidays Sale Section Style */
.holidays-sale {
    margin: 120px auto;
    width: 1320px;
}

.holidays-sale-text {
    text-align: center;
}

.holidays-sale-text h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.holidays-sale-text h1 {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}

.holidays-sale-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
}

.holidays-sale-text span {
    color: #070211;
}

.holidays-sale-images {
    position: relative;
    margin-top: 550px;
}

.holidays-sale-img1 {
    position: absolute;
    bottom: 0;
}

.holidays-sale-img2 {
    position: absolute;
    right: 0;
    top: -433px;
}

.holidays-sale-img2-big {
    position: relative;
}

.holidays-sale-main-img2-small {
    position: absolute;
    top: 70px;
    left: -155px;
}

/* Awesome Portfolio Section Style */
.awesome-portfolio-sec {
    margin: 0 auto 120px;
    width: 1320px;
}

.awesome-portfolio-text h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.awesome-portfolio-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.awesome-portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin: 22px 0 48px;
}

.awesome-portfolio-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 24px;
}

.img{
    transition: all 0.3s;
}
.img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Subscribe Section  */
.subscribe-section {
    margin: 50px 140px 120px;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-section img {
    margin: 80px 585px 0;
    width: 150px;
    height: 150px;
}

.subscribe-section h1 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
}

.subscribe-section p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
}
.submit{
    display: flex;
    width: 648px;
    border-radius: 50px;
    background: #fff;
    margin: 0 auto;
}
.submit input{
    margin-left: 30px;
    padding: 25px 267px 25px 0;
    border: 0;
    font-size: 18px;
}
.submit button{
    font-size: 20px;
    font-weight: 600;
    padding: 25px 30px;
    border: 0;
    background: #F00;
    color: white;
    border-radius: 0 50px 50px 0;
}

/* Footer Section */
.footer-section {
    background: #070211;
    width: 1600px;
    height: 609px;
}

.footer-section-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;

}

#footer-upper-left-text {
    padding-left: 140px;
}

.footer-section-text p {
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    margin: 0;
}

.contact-num {
    display: flex;
    align-items: center;
    gap: 16px;
}

.website {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 275px;
}

.footer-section-text img {
    width: 24px;
    height: 24px;
}

.footer-section-images {
    margin-left: 640px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    width: 64px;
    height: 64px;
    margin-bottom: 48px;
}

.divider {
    margin-left: 140px;
    margin-bottom: 48px;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    display: inline-block;
}

.adrs {
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    display: flex;
    padding: 0 140px;
    justify-content: space-between;
}